<html>
<head>
<title>Documento de Registro do Estudante - {{ dre }}</title>
</head>

<body bgcolor=#000>
<style> #fundo {    background: #fff;    color: #000;    font-size: 12;    border-radius: 25px;    padding: 20px;    width: 428px;    height: 270px;    font-family: "Verdana", Verdana, sans-serif;}#nome {    color: #000;    font-size: 20;}img.rounded-corners {    border-radius: 25px;    position: absolute;    left: 320px;    top: 80px;    height: 180px;}img.qrc {    border-radius: 30px;    position: absolute;    left: 100px;    top: 145px;    height: 160px;}</style>
<div id="fundo">
<div id="Título">Erro!</div><br>
<div id="Erro">{{ explicacao }}</div><br>
<div id="Botão"><button onclick=window.history.back()>Voltar</button></div>
</body></html>

